<form method="POST" action="/login">

  <label>Username</label>
  <input type="texte" name="username" placeholder="enter username">
  <br>
  <label>Password</label>
  <input type="password" name="username" placeholder ="enter password">
  <br>
  <button type="submit">Log In</button>


</form>