<form method="POST" action="/login">

  <label>Username</label>
  <input type="text" name="username" placeholder="enter username">
  <br>
  <label>Password</label>
  <input type="password" name="password" placeholder ="enter password">
  <br>
  <button type="submit">Log In</button>


    {{#if msg}}
    <div>
        {{msg}}
    </div>
    {{/if}}

</form>