<div class="form-container">
<form method="POST" action="/login">
  <div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" name="username" placeholder="enter username" class="form-control">
  </div>
  <br>
  <div class="mb-3">
  <label class="form-label">Password</label>
  <input type="password" name="password" placeholder ="enter password" class="form-control">
  </div>

  <div class="button-container">
  <button type="submit" class="btn btn-primary">Log In</button>
  </div>
  <br>


    {{#if msg}}
    <div class="msg-container">
        {{msg}}
    </div>
    {{/if}}

</form>
</div>