<div class="wrapper">
<div class="box">
<h1 class="h1-error">500</h1>
<p class="p-font">Sorry, it's me, not you.</p>
<p class="p-font">ಠ_ಠ</p>
<p class="p-error p-font"><a href="/">Let me try again!</a></p>
</div>
</div>