<h1 id="item-create-title">Create add</h1>

<div class="item-create-container">

  <form class="form-create" action="/items/create" method="POST" enctype="multipart/form-data">
  <hr class="line-form">
    <div>
      <label>Title</label>
      <input class="form-radius" type="text" name="title" placeholder="Item title">
      <br>
      <br>
      <br>
      <label for="category">Choose a category:</label>
      <select class="form-radius" name='category' id="category">
        <option value="house">House</option>
        <option value="sports">Sports</option>
        <option value="games">Games</option>
        <option value="garden">Garden</option>
      </select>
      <br>
      <br>
      <br>
    </div>

    <div>
      <input type="radio" name="condition" id="new" value="new" selected>
      <label for="new">New</label>
      <input type="radio" name="condition" id="used" value="used">
      <label for="used">Used</label>
    </div>
    <br><br>
    <div>
      <label>Price</label>
      <input class="form-radius" type="text" name="price" placeholder="Item price">
      <br><br>
    </div>
    <br>

    <div>
      <textarea class="form-radius" id="description" name="description" rows="4" cols="50" placeholder="Description">
    </textarea>
    </div>
    <br>
  
    <div>
      <label for="imageUrl">Add Images</label>
      <input class="form-radius" type="file" name="imageUrl" accept="image/png, image/jpg">
      <br>
      <br>
      <div>
        <button type="submit" id="item-create-btn" class="btn btn btn-primary">Create</button>
      </div>
    </div>
  </form>

  <br>

  {{#if msg}}
  <div class="error msg-container">{{msg}}</div>
  {{/if}}
 
</div>