<h1>Items page</h1>
<div class="item-container">
{{#each result}}
<div class="item-list">
<img src="{{this.img}}">
<h5>{{this.title}}</h5>
<h6>{{this.price}}$</h6>
<h6>{{this.seller}}</h6>
</div>
{{/each}}
</div>