<h1>Item create form</h1>
 <form  action="/items/create" method="POST"  enctype="multipart/form-data">
  <div>
  <label>Title</label>
  <input type="text" name="title" placeholder="Item title">
  <br>
  <br>
  <br>
  <label for="category">Choose a category:</label>
  <select name='category' id="category">
    <option value="house">House</option>
    <option value="sports">Sports</option>
    <option value="games">Games</option>
    <option value="garden">Garden</option>
  </select>
  <br>  
  <br>  
  <br>  
  </div>

  <div>
  <input type="radio" name="condition" id="new" value="new" selected>
  <label for="new">New</label>
  <input type="radio" name="condition" id="used" value="used">
  <label for="used">Used</label>
  </div>
  <br><br><br>
  <div>
    <label>Price</label>
    <input type="text" name="price" placeholder="Item price">
    <br><br><br>
  </div>
<br>  
 
  <div>
  <textarea id="description" name="description" rows="4" cols="50" placeholder="Description">
  </textarea>
  </div>
  <br>

  <label for="imageUrl">Add images</label>
    <input type="file" name="imageUrl" multiple accept="image/png, image/jpg">
    <button type="submit">Create</button>

</form>  

  <br>

{{#if msg}}
 <div class="error">{{msg}}</div>
{{/if}}