<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
   <style id="" media="all">
   /* latin-ext */
      @font-face {
         font-family: 'Passion One';
         font-style: normal;
         font-weight: 900;
         src: url(/fonts.gstatic.com/s/passionone/v11/Pby6FmL8HhTPqbjUzux3JEMS0U7hyJcsuA.woff2) format('woff2');
         unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      @font-face {
         font-family: 'Raleway';
         font-style: normal;
         font-weight: 700;
         src: url(/fonts.gstatic.com/s/raleway/v19/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
         unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      
      /* latin */
      @font-face {
         font-family: 'Raleway';
         font-style: normal;
         font-weight: 700;
         src: url(/fonts.gstatic.com/s/raleway/v19/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
         unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
         font-family: 'Passion One';
         font-style: normal;
         font-weight: 900;
         src: url(/fonts.gstatic.com/s/passionone/v11/Pby6FmL8HhTPqbjUzux3JEMS0U7vyJc.woff2) format('woff2');
         unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
   </style>

   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">LOGO</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
               </li>
               {{#if isUserLoggedIn}}
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/items/create">Create ad</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                     <img class="img-nav" src="/images/userNav.png" alt="profpic">
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <li><a class="dropdown-item" href="/profile">Profile</a></li>
                     <li><a class="dropdown-item" href="/messages">Messages</a></li>
                     <li><a class="dropdown-item" href="/settings">Settings</a></li>
                     <li><a class="dropdown-item" href="/logout">Log out</a></li>
                  </ul>
               </li>
               {{else}}
               {{#if signupPage}}
               <li class="nav-item">

                  <a class="nav-link" aria-current="page" href="/login">Log in</a>
               </li>
               {{/if}}
               {{#if loginPage}}
               <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/signup">Sign up</a>
               </li>
               {{/if}}
               {{/if}}
            </ul>
         </div>
      </div>
   </nav>

   {{{body}}}

   <footer>
      <div class="footer-container-up">

      </div>
      <div class="footer-container-down">
         © 2021 Copyright: Franco and Taka
      </div>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"></script>
   <script src="/js/script.js"></script>


</body>

</html>