<h1>Messages Page</h1>
<div>
  <div>
    {{#each result}}
    {{#if isMsg}}
      <a href="/messages/{{this._id}}">
        <div>
          {{this.title}}
          {{this.condition}}
          {{this.price}}
        </div>
      </a>
      {{/if}}
    {{/each}}
    </div>
</div>