<h1>
  Messages Page
</h1>
<div>
  <div>
    {{#each result}}
      <a href="/messages/{{this._id}}">
        <div>
          {{this.title}}
          {{this.condition}}
          {{this.price}}
        </div>
      </a>
    {{/each}}
  </div>
</div>