<h1 class="h1-message">
  My messages
</h1>

  <div class="info-msg-container">
    {{#each result}}
      <a href="/messages/{{this._id}}">
        <div class="info-msg-container-child">
          <div class="item-img-container messages-fix-img"><img class="itemimg" src="{{this.img}}"></div>
          <div class="info">
          <h3 class="msg-title-container">{{this.title}}</h3>
          <p class="price p-msg">price: <span class="result-price"> ${{this.price}}</span></p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
