<h1>404 Page not found!</h1>
<h2>Oh oh! You could go to the <a href="/">home page</a> or reconsider the page you wanted while delighting yourself until you are ready to go.</h2>

<a href="/"><img src="/images/thor.jpg" alt="thor img"></a>
<a href="/"><img src="/images/scarlett.jpg" alt="scarlett"></a>

