<div class="form-container">
  <h2 id="item-create-title">Settings</h2>
  <form method="POST" action="/settings" class="auth-form">

    <div class="mb-3">
      <label class="form-label">New Username</label>
      <input type="text" name="newuser" placeholder="New usermane" class="form-control">
    </div>


    <div class="mb-3">
      <label class="form-label">New E-mail</label>
      <input type="email" name="newemail" placeholder="New e-mail" class="form-control">
    </div>


    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input type="password" name="newpassword" placeholder="New password" class="form-control">
    </div>


    <div class="button-container">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
  <form class="deactivate-form" action="/deactivate" method="POST">
    <button type="submit" class="btn btn-danger">Deactivate</button>
  </form>




  {{#if msg}}
  <div class="error">{{msg}}</div>
  {{/if}}

  </form>
</div>