html,
body {
  height: 100%;


}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: #EEE2DC;
  min-height: 100%;

}


a {
  color: #123C69;
  text-decoration: none;
}

h4 {
  font-weight: 900;
}

hr {
  width: 10%;
  height: 30px;
  color: black;
  border: 3px solid black;
  opacity: 1;
  margin-top: 0;
}

.div-login {
  padding-top: 20px;
  font-size: 10px;
  text-align: center;
}

.a-login {
  font-size: 15px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;

}

.button-container {
  display: flex;
  justify-content: center;
}

.msg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa5a0;
  width: 300px;
  height: 50px;
  border-radius: 2px;

}

.auth-form {
  border: 1px solid;
  padding: 30px;
  border-color: #123C69;

}

/* nav Bar */

.navbar-brand {
  padding-left: 20px;
}

.navbar-nav {
  align-items: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.active {
  color: #AC3B61;
}

.bg-light {
  background-color: #EDC7B7 !important;
}

.container-fluid {
  padding-right: 5%;
  padding-left: 5%;
}

.img-nav {
  border-radius: 100%;
  display: block;
  height: inherit;
  width: inherit;

}

img {
  width: 200px;
}

.img-nav-container {
  width: 3em;
  height: 3em;
}

.profile-pic-link {
  display: flex;
  align-items: center;
}

.item-list {
  display: flex;
  justify-content: center;
  text-align: start;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 16px;
  margin-left: 0px;
  text-align: center;

}



.item-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

/* item detail page*/

.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;
  width: 25rem;

}

.item-detail-img {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  padding-left: 17rem;
  padding-right: 17rem;
}

.price {
  font-weight: 800;
}

.result-price {
  color: darkcyan;
}

.text-box {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 25px;
  width: 100%;
  font-size: small;
}

.list-detail {
  list-style-image: url(../images/verified.png);
}

.carousel {
  width: 30%;
  margin: 50px;
}

.buy-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 20rem;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 18rem;
  min-width: 18rem;
}

.item-detail-upper-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%
}

/* item create */

.form-create{
  border: 1px dashed #123C69;
  padding: 20px
}

.align-bottom-create-form {
  justify-content: center;
}

.item-create-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  

}

#item-create-title {
  text-align: center;
  color:#AC3B61;
  margin: 10px auto 20px auto;
}

#item-create-btn {
  display: flex;
  margin-bottom: 10px;
}

#edit-delete-btns {

  width: 100%
}

/* */
.middle-container-item {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  padding-left: 30px;
  padding-right: 30px;
  gap: 25px;
  margin: auto 200px auto 200px;
  border: 1px solid #AC3B61;
  background-color: #f1f1f1;

}

.middle-container {
  background-color: #EEE2DC;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 350px;


}

.footer-padding{
  padding-bottom: 5%
}

/* footer */


.footer-container-down {


  text-align: center;
  padding: 1rem;
  background-color: #BAB2B5;
  color: black;
  width: 100%;

}

.container-body {
  min-height: 82%;
}
/* search bar */

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50%;
  background-color: #eee2dc88;
  margin: 10% auto 10% auto;
}

.form-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;

}

.button-search {
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
  background-color: #AC3B61;
  color: #EEE2DC;
}

.category {
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
}

/* Profile */

.profile-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #EEE2DC;


}

.profile-img-container {
  padding-top: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.fix-size-img {
  width: 15rem;
  height: 15rem;
}

.profile-img-edit {
  width: 50%;
  cursor: pointer;

}

.profile-img {
  border-radius: 100%;
  display: block;
  height: inherit;
  width: inherit;

}

.username-profile {
  font-weight: 500;
  padding: 5%;
  color: #AC3B61;
}

form input[id="fileToUpload"] {
  display: none;
  position: absolute;

}

.profile-form-edit {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%
}



.profile-btn-update {
  display: contents;
}

.profile-bottom-container {
  padding: 0 10% 5% 10%;
  background-color: #EDC7B7;
}

.accordion-item {
  background-color: #123C69;
}

.item-img-container {
  display: block;
  width: 10rem;
  height: 10rem;
}

.item-detail-img-container {
  width: 20rem;
  height: 20rem;
}

.itemimg {

  padding: 5px;
  border-radius: 15px;
  width: inherit;
  height: inherit
}

.sold {
  color: red;
}

.msgsbox {
  
  display: flex;
  justify-content: center;
  width: 100%
}

.indmsgbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
  width: 40%;
  position: relative;
  bottom: 0;
  overflow-y: auto;
  max-height: 300px;
}

.sent {
  margin: 7px;
  padding: 5px;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
  background-color: #123c6967;
}

.received {
  margin: 7px;
  padding: 5px;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  background-color: #bab2b569;
}

#msgtitle {
  margin: 10px;
  text-align: center;
  color:#AC3B61;
}

.msgform {
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  width: 40%;

}

.msgform input {
  width: 100%;
}

.a-msg-container {
  text-align: center;
  margin-top: 25px;
  font-size: x-large;
}

.btn-primary {
  border-color: #123C69;
  background-color: #123C69;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
  color: rgba(255, 255, 255, 0.680);
  background-color: #EDC7B7;
  border-color: #EDC7B7;
}

.btn-warning {
  color: rgba(0, 0, 0, 0.7);
  border-color: #e6b49e;
  background-color: #EDC7B7;
}

.btn-danger {
  border-color: #AC3B61;
  background-color: #AC3B61;
}

/* all message page */

.h1-message {
  color: #AC3B61;
  text-align:center;
  padding: 1rem;
}

.info-msg-container-child {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center,;
  border: 1px solid #AC3B61;
  border-radius: 5px;
  width: 100%;
  background-color:#BAB2B5;
  margin-bottom: 10px;
}

.info-msg-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
 
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 10rem;
  align-content: center;
  padding-left: 20px;
}

.info-msg-container-parent {
  width: 100%;
}

.msg-title-container {
  padding-bottom: 5px;
  color: #123C69;
  margin-bottom: 10px;
}

.p-msg {
  margin-bottom: 5px;
}

/* Settings */

.deactivate-form {
  padding-top: 30px;
}

/*Not found*/

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 710px;
  width: 100%;
  padding-left: 190px;
  line-height: 1.4;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
}

.notfound .notfound-404 h1 {
  font-family: 'Passion One', cursive;
  color: #AC3B61;
  font-size: 150px;
  letter-spacing: 15px;
  margin: 0px;
  font-weight: 900;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: 'Raleway', sans-serif;
  color: #292929;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 0;
}

.notfound p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}

.notfound a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #123C69;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #fff;
  background-color: #123c69a2;

}

@media only screen and (max-width: 480px) {
  .notfound {
    text-align: center;
  }

  .notfound .notfound-404 {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }

  .notfound {
    padding-left: 15px;
    padding-right: 15px;
  }

}

/* error page 500 */

.wrapper {
  position: relative;
  max-width: 1298px;
  height: auto;
  margin: 2em auto 0 auto;
}

/* https://www.flaticon.com/authors/vectors-market */
/* https://www.flaticon.com/authors/icomoon */
.box {
  max-width: 70%;
  min-height: auto;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  background: url("https://www.dropbox.com/s/xq0841cp3icnuqd/flame.png?raw=1") no-repeat top 10em center/128px 128px,
              transparent url("https://www.dropbox.com/s/w7qqrcvhlx3pwnf/desktop-pc.png?raw=1") no-repeat top 13em center/128px 128px;
}

.h1-error, p:not(:last-of-type) { text-shadow: 0 0 6px #216f79; }

.h1-error {
  margin: 0 0 1rem 0;
  font-size: 8em;
  color:#AC3B61
}

.p-font {
  margin-bottom: 0.5em;
  font-size: 3em;
  color:#AC3B61
}

.p-font:first-of-type { margin-top: 4em; }

.p-error > a {
  border-bottom: 1px dashed #123C69;
  font-style: italic;
  text-decoration: none;
  color: #123C69;
}

.p-error > a:hover { text-shadow: 0 0 6px #123C69; }

.form-radius {
  border-radius: 5px;
  border:1px solid #BAB2B5;
}