

html, body
{
    height: 100%;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}


a {
  color: #00b7ff;
  text-decoration: none;
}

h4 {
  font-weight: 900;
}

hr{
  width: 10%;
  height: 30px;
  color:black;
  border:3px solid black;
  opacity: 1;
  margin-top: 0;
}

.div-login {
  padding-top: 20px;
  font-size: 10px;
  text-align: center;
}

.a-login {
  font-size: 15px;
}

.form-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
 
}

.button-container {
  display:flex;
  justify-content: center;
}

.msg-container {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa5a0;
  width: 300px;
  height: 50px;
  border-radius: 2px;

}

.auth-form {
  border: 1px solid;
  padding: 30px;
  border-color:lightblue;

}

/* nav Bar */

.navbar-brand {
  padding-left: 20px;
}

.navbar-nav {
  align-items: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  padding-right: 5%;
  padding-left: 5%;
}

.img-nav {
border-radius: 100%;
display:block;
height:inherit;
width: inherit;

}

img {
  width: 200px;
}

.img-nav-container{
  width: 3em;
  height: 3em;
}

.profile-pic-link{
  display:flex;
  align-items: center;
}

.item-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 16px;
  margin-left: 0px;
  text-align: center;

}



.item-container {
  display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
  padding-left: 30px;
  padding-right: 30px;
  
 
}

/* item detail page*/

.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.item-detail-img {
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
	flex-wrap: wrap;
}

.price {
  font-weight:800;
}

.result-price {
  color: darkcyan;
}

.text-box {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 25px;
  width: 90vh;
  font-size: small;
}

.list-detail {
  list-style-image: url(../images/verified.png);
}

.carousel {
  width: 30%;
    margin: 50px;
}

.buy-container{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 25%
}

.item-detail-upper-container {
  display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
  width: 100%
}

/* item create */

.item-create-container {
  display: flex;
  justify-content:center;
  align-items: center;
	align-content: center;
}

/* */
.middle-container {
  display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
  padding-left: 30px;
  padding-right: 30px; 
  gap: 25px;
  margin: auto 200px auto 200px;
  border-color: darkslategrey;
  border: 2px solid;
  
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 350px;
 

}

/* footer */

.footer-container-up {
  height: 150px;
  background-color: #f1f1f1;
}

.footer-container-down {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  color: black;
}

/* search bar */

.search-bar {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
  height: 50%;
}

.form-search {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 50%;
  
}

.button-search {
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
}

.category {
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
}

/* Profile */

.profile-top-container {
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
  background-color: darkgoldenrod;


}

.profile-img-container {
  padding-top: 5%;
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
	align-items: flex-end;
}

.fix-size-img {
width: 15rem;
height: 15rem;
}

.profile-img-edit {
  width: 50%;
  cursor: pointer;

}

.profile-img {
  border-radius: 100%;
display:block;
height:inherit;
width: inherit;

}

.username-profile {
  font-weight: 500;
  padding: 5%
}

form input[id="fileToUpload"] {
  display: none;
  position: absolute;

}

.profile-form-edit {
  display:flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%
  }


  
.profile-btn-update{
  display: contents;
}

.profile-bottom-container{
  width: 80%;
  margin: auto;
}

.item-img-container{
  display:block;
  width: 10rem;
  height: 10rem;
}

.itemimg{
  
  width:inherit;
  height:inherit

}

.sold {
  color: red;
}

/*Not found*/

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 710px;
  width: 100%;
  padding-left: 190px;
  line-height: 1.4;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
}

.notfound .notfound-404 h1 {
  font-family: 'Passion One', cursive;
  color: #00b5c3;
  font-size: 150px;
  letter-spacing: 15px;
  margin: 0px;
  font-weight: 900;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: 'Raleway', sans-serif;
  color: #292929;
  font-size: 28px;
    font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 0;
}

.notfound p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}

.notfound a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #292929;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #fff;
  background-color: #00b5c3;
}

@media only screen and (max-width: 480px) {
  .notfound {
    text-align: center;
  }
  .notfound .notfound-404 {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
  }
}