

html, body
{
    height: 100%;
}


body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}


a {
  color: #00b7ff;
}

h4 {
  font-weight: 900;
}

hr{
  width: 10%;
  height: 30px;
  color:black;
  border:3px solid black;
  opacity: 1;
  margin-top: 0;
}

.div-login {
  padding-top: 20px;
  font-size: 10px;
  text-align: center;
}

.a-login {
  font-size: 15px;
}

.form-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
 
}

.button-container {
  display:flex;
  justify-content: center;
}

.msg-container {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa5a0;
  width: 300px;
  height: 50px;
  border-radius: 2px;

}

.auth-form {
  border: 1px solid;
  padding: 30px;
  border-color:lightblue;

}

/* nav Bar */

.navbar-brand {
  padding-left: 20px;
}

.navbar-nav {
  align-items: center;
}

.navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  padding-right: 5%;
  padding-left: 5%;
}

.img-nav {
  width: 60%;
}

img {
  width: 200px;
}

.item-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 16px;
  margin-left: 0px;
  text-align: center;

}

.item-container {
  display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
  padding-left: 30px;
  padding-right: 30px;
  
 
}

/* item detail page*/

.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.item-detail-img {
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
	flex-wrap: wrap;
}

.price {
  font-weight:800;
}

.result-price {
  color: darkcyan;
}

.text-box {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 25px;
  width: 90vh;
  font-size: small;
}

.list-detail {
  list-style-image: url(../images/verified.png);
}

.carousel {
  width: 30%;
    margin: 50px;
}

.buy-container{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 25%
}

.item-detail-upper-container {
  display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
  width: 100%
}

/* */
.middle-container {
  display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;
  padding-left: 30px;
  padding-right: 30px; 
  gap: 25px;
  margin: auto 200px auto 200px;
  border-color: darkslategrey;
  border: 2px solid;
  
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 350px;
 

}

/* footer */

.footer-container-up {
  height: 150px;
  background-color: #f1f1f1;
}

.footer-container-down {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  color: black;
}

/* search bar */

.search-bar {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
  height: 50%;
}

.form-search {
  display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 50%;
  
}

.button-search {
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
}

.category {
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
}

/* Profile */

.profile-top-container {
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
  background-color: darkgoldenrod;


}

.profile-img-container {
  padding-top: 5%;
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
	align-items: flex-end;
}

.profile-img-edit {
  width: 50%;
  cursor: pointer;

}

.profile-img {
  border-radius: 100%;
  width: 18rem;
}

.username-profile {
  font-weight: 500;
  padding: 5%
}

form input[type="file"] {
  display: none;
  position: absolute;
}

.profile-form-edit {
  position: absolute;
  }
